.block-07 {
  padding-block: 60px 20px;
  .block__reviews {
    display: flex;
    flex-wrap: wrap;
    gap: 3px;
    width: 100%;
    .block__review {
      position: relative;
      flex: 1 1 calc(25% - 15px);
      padding: 24px;
      border: 1px solid #336b9c;
      transition: all 0.4s ease;
      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: var(--btn-gradient);
        opacity: 0;
        transition: all 0.4s ease;
        z-index: 2;
      }
      .block__review-top {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: 40px;
        transition: all 0.4s ease;
        z-index: 5;
      }
      .block__review-name,
      .block__review-date,
      .block__review-title,
      .block__review-descr {
        position: relative;
        display: block;
        width: 100%;
        font-family: var(--font-family);
        line-height: 1.5;
        color: var(--text-color);
        transition: all 0.4s ease;
        z-index: 5;
      }
      .block__review-name {
        max-width: calc(100% - 80px);
        font-weight: 600;
        font-size: 16px;
      }
      .block__review-date {
        max-width: 74px;
        font-weight: 400;
        font-size: 14px;
        opacity: 0.6;
      }
      .block__review-title {
        margin-bottom: 12px;
        font-weight: 600;
        font-size: 14px;
      }
      .block__review-descr {
        font-weight: 400;
        font-size: 14px;
      }
    }
  }
}

@media (max-width: 1199px) {
  .block-07 .block__reviews .block__review {
    padding: 12px;
  }
  .block-07 .block__reviews .block__review .block__review-name {
    font-size: 15px;
  }
  .block-07 .block__reviews .block__review .block__review-title,
  .block-07 .block__reviews .block__review .block__review-descr {
    font-size: 13px;
  }
}
@media (max-width: 991px) {
  .block-07 .block__reviews {
    max-width: 540px;
    margin: 0 auto;
  }
  .block-07 .block__reviews .block__review {
    flex: 1 1 calc(50% - 15px);
  }
  .block-07 .block__reviews .block__review .block__review-top {
    margin-bottom: 16px;
  }
  .block-07 .block__reviews .block__review .block__review-date {
    order: 1;
    max-width: 100%;
  }
  .block-07 .block__reviews .block__review .block__review-name {
    order: 2;
    max-width: 100%;
  }
  .block-07 .block__reviews .block__review .block__review-title {
    margin-bottom: 8px;
  }
}
@media (max-width: 768px) {
}
@media (max-width: 576px) {
  .block-07 .block__title {
    margin-bottom: 40px;
  }
  .block-07 .block__reviews .block__review .block__review-name {
    font-size: 14px;
  }
  .block-07 .block__reviews .block__review .block__review-date {
    font-size: 13px;
  }
  .block-07 .block__reviews .block__review .block__review-descr,
  .block-07 .block__reviews .block__review .block__review-title {
    font-size: 12px;
  }
}
@media (max-width: 460px) {
}
@media (max-width: 400px) {
  .block-07 .block__reviews .block__review {
    flex: 1 1 100%;
    padding: 16px 12px;
  }
}
