.block-01 {
  align-content: space-between;
  min-height: 850px;
  padding-block: 268px 40px;
  background-color: var(--bg-color);
  container: block-01 / inline-size;
  .background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 4;
  }
  .background-shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    z-index: 8;
  }
  .container {
    position: relative;
    z-index: 10;
    &.container-main {
      padding-inline: 98px;
    }
  }
  .h1 {
    margin-bottom: var(--mb-01);
    b {
      font-weight: 500;
    }
  }
  .block-items {
    display: block;
    width: 100%;
    margin-bottom: var(--mb-01);
    .block-item {
      display: block;
      width: 100%;
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 18px;
      line-height: 1.7;
      color: var(--white-color);
      &:not(:last-child) {
        margin-bottom: 3px;
      }
    }
  }
  .address-icon {
    position: relative;
    display: block;
    width: 100%;
    padding-left: 40px;
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    color: var(--white-color);
    &:before {
      content: "";
      position: absolute;
      bottom: 0px;
      left: 0;
      display: block;
      width: 30px;
      height: 30px;
      background: url("../img/icons/icon-map-white.svg") center / contain no-repeat;
    }
  }
}

@container block-01 (max-width: 1366px) {
  .block-01 .container.container-main {
    padding-inline: 70px;
  }
}
@container block-01 (max-width: 1199px) {
  .block-01 .container.container-main {
    padding-inline: 10px;
  }
}
@container block-01 (max-width: 991px) {
  .block-01 {
    min-height: 750px;
    padding-block: 200px 40px;
  }
  // .block-01 .h1 {
  //   margin-bottom: 24px;
  // }
}
@container block-01 (max-width: 768px) {
  .block-01 .block-items .block-item {
    font-size: 17px;
  }
}
@container block-01 (max-width: 576px) {
  .block-01 .h1 br {
    display: none;
  }
}
@container block-01 (max-width: 460px) {
  .block-01 {
    min-height: 700px;
  }
}
