.block-01 {
  position: relative;
  display: block;
  width: 100%;
  padding-block: 110px 80px;
  .block-content {
    display: block;
    width: 100%;
    max-width: calc(100% - 560px);
    padding-top: 80px;
  }
  .block-image {
    display: block;
    width: 100%;
    max-width: 510px;
    object-fit: cover;
    border-radius: var(--brs-images);
  }
  .h1 {
    margin-bottom: var(--mb-03);
  }
  .sub_title {
    margin-bottom: var(--mb-01);
  }
}

@media (max-width: 1680px) {
}
@media (max-width: 1366px) {
}
@media (max-width: 1199px) {
}
@media (max-width: 991px) {
}
@media (max-width: 768px) {
}
@media (max-width: 576px) {
}
@media (max-width: 460px) {
}
@media (max-width: 400px) {
}
