.block-03 {
  padding-block: 60px;
  container: block-03 / inline-size;
  .block-content {
    .hide-text {
      position: relative;
      display: block;
      width: 100%;
      margin-bottom: 60px;
      &:after {
        content: "";
        position: absolute;
        bottom: 34px;
        left: 0;
        display: block;
        width: 100%;
        height: 100px;
        background: var(--shadow-gradient);
        z-index: 4;
      }
      .text {
        position: relative;
        max-height: 240px;
        margin-bottom: 24px;
        line-height: 1.6;
        transition: max-height 2s ease;
        overflow: hidden;
        z-index: 2;
      }
      .hide-text__btn {
        position: relative;
        display: block;
        width: 100%;
        max-width: max-content;
        font-family: var(--font-family);
        font-weight: 600;
        font-size: 14px;
        line-height: 1.4;
        color: var(--accent-01);
        cursor: pointer;
        z-index: 8;
      }
      &.expanded {
        &:after,
        .hide-text__btn {
          display: none;
        }
        .text {
          max-height: 1000px;
        }
      }
    }
    .block-item {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 40px;
      width: 100%;
      .block-item__img {
        display: block;
        width: 70px;
        height: 70px;
        object-fit: contain;
      }
      .block-item__content {
        display: block;
        width: 100%;
        max-width: calc(100% - 111px);
        .content__label,
        .content__descr {
          display: block;
          width: 100%;
          font-family: var(--font-family);
          line-height: 1.5;
          color: var(--text-color);
        }
        .content__label {
          margin-bottom: 6px;
          font-weight: 600;
          font-size: 18px;
        }
        .content__descr {
          font-weight: 400;
          font-size: 14px;
        }
      }
      &:not(:last-child) {
        margin-bottom: 40px;
      }
    }
  }
}

@container block-03 (max-width: 1199px) {
  .block-03 .block-content .hide-text {
    margin-bottom: 40px;
  }
  .block-03 .block-content .hide-text .text {
    margin-bottom: 16px;
    line-height: 1.4;
  }
  .block-03 .block-content .block-item:not(:last-child) {
    margin-bottom: 24px;
  }
  .block-03 .block-content .block-item {
    gap: 24px;
  }
  .block-03 .block-content .block-item .block-item__img {
    width: 60px;
    height: 60px;
  }
  .block-03 .block-content .block-item .block-item__content .content__label {
    margin-bottom: 4px;
    font-size: 16px;
  }
  .block-03 .block-content .block-item .block-item__content .content__descr {
    font-size: 13px;
  }
}
@container block-03 (max-width: 991px) {
  .block-03 {
    padding-bottom: 30px;
  }
}
@container block-03 (max-width: 768px) {
  .block-03 {
    padding-top: 30px;
    .block__title {
      margin-bottom: 40px;
    }
  }
}
@container block-03 (max-width: 460px) {
  .block-03 .block-content .block-item {
    gap: 16px;
  }
  .block-03 .block-content .block-item .block-item__img {
    width: 52px;
    height: 52px;
  }
  .block-03 .block-content .block-item .block-item__content {
    max-width: calc(100% - 70px);
  }
  .block-03 .block-content .block-item .block-item__content .content__label {
    font-size: 15px;
  }
}
