.block-02 {
  padding-block: 60px;
  container: block-02 / inline-size;
  .post-items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px 12px;
    .post-item {
      position: relative;
      display: block;
      min-height: 410px;
      background-color: var(--bg-color);
      .post-item__image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: all 0.4s ease;
        z-index: 2;
      }
      .post-item__content {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-content: flex-end;
        width: 100%;
        height: 100%;
        padding: 36px 28px;
        transition: all 0.4s ease;
        z-index: 10;
        &:before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: rgba(0, 0, 0, 0.3);
          z-index: 2;
        }
        &:after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: var(--btn-gradient);
          opacity: 0;
          transition: all 0.4s ease;
          z-index: 5;
        }
        .post-title {
          position: relative;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          overflow: hidden;
          width: 100%;
          margin-bottom: 16px;
          font-family: var(--font-family);
          font-weight: 600;
          font-size: 20px;
          line-height: 1.5;
          -webkit-line-clamp: 3;
          color: var(--white-color);
          z-index: 20;
        }
        .btn {
          position: absolute;
          top: 50%;
          left: 50%;
          z-index: 24;
          transform: translate(-50%, -50%);
          opacity: 0;
        }
        .post-excerpt {
          position: relative;
          display: block;
          width: 100%;
          padding-top: 16px;
          font-family: var(--font-family);
          font-weight: 400;
          font-size: 14px;
          line-height: 1.5;
          color: var(--white-color);
          z-index: 20;
          &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 60px;
            height: 1px;
            background-color: var(--white-color);
          }
          span {
            position: relative;
            display: block;
            padding-left: 20px;
            &:before {
              content: "";
              position: absolute;
              top: 50%;
              left: 2px;
              display: block;
              width: 4px;
              height: 4px;
              background-color: var(--white-color);
              border-radius: 20px;
              transform: translateY(-50%);
            }
          }
        }
        .post-link {
          position: absolute;
          right: -1px;
          bottom: -1px;
          display: block;
          width: 72px;
          height: 72px;
          background: url("../img/posts/post-link.svg") center / cover no-repeat;
          opacity: 0;
          transition: all 0.4s ease;
          z-index: 24;
        }
      }
    }
  }
}

@container block-02 (max-width: 1366px) {
  .block-02 .post-items .post-item {
    min-height: 390px;
  }
}
@container block-02 (max-width: 1199px) {
  .block-02 {
    padding-bottom: 30px;
  }
  .block-02 .post-items {
    grid-template-columns: repeat(3, 1fr);
  }
}
@container block-02 (max-width: 991px) {
  .block-02 .post-items {
    gap: 24px 8px;
    max-width: 540px;
    margin: 0 auto;
  }
  .block-02 .post-items .post-item {
    min-height: 350px;
  }
  .block-02 .post-items .post-item .post-item__content {
    padding: 24px 16px;
  }
  .block-02 .post-items .post-item .post-item__content .post-title {
    order: 1;
    font-size: 18px;
  }
  .block-02 .post-items .post-item .post-item__content .post-excerpt {
    order: 2;
    margin-bottom: 24px;
  }
  .block-02 .post-items .post-item .post-item__content .btn {
    display: none;
  }
  .block-02 .post-items .post-item .post-item__content .post-link {
    order: 3;
    position: relative;
    top: auto;
    left: auto;
    bottom: auto;
    width: max-content;
    height: auto;
    background: none;
    opacity: 1;
    &:after {
      content: "Перейти";
      display: block;
      width: 100%;
      font-family: var(--font-family);
      font-weight: 500;
      font-size: 18px;
      color: var(--white-color);
    }
  }
}
@container block-02 (max-width: 991px) {
  .block-02 .post-items {
    grid-template-columns: repeat(2, 1fr);
  }
}
@container block-02 (max-width: 576px) {
  .block-02 .post-items {
    gap: 18px 8px;
  }
  .block-02 .post-items .post-item {
    min-height: 310px;
  }
  .block-02 .post-items .post-item .post-item__content {
    padding: 16px 12px;
  }
  .block-02 .post-items .post-item .post-item__content .post-title,
  .block-02 .post-items .post-item .post-item__content .post-link:after {
    font-size: 16px;
  }
  .block-02 .post-items .post-item .post-item__content .post-excerpt {
    font-size: 13px;
  }
}
@container block-02 (max-width: 460px) {
  .block-02 {
    padding-top: 40px;
  }
  .block-02 .post-items {
    grid-template-columns: repeat(1, 1fr);
    gap: 12px 6px;
  }
  .block-02 .post-items .post-item {
    min-height: 270px;
  }
  .block-02 .post-items .post-item .post-item__content .post-link:after,
  .block-02 .post-items .post-item .post-item__content .post-title {
    font-size: 15px;
  }
  .block-02 .post-items .post-item .post-item__content .post-excerpt {
    font-size: 12px;
  }
  .block-02 .post-items .post-item .post-item__content .post-excerpt span {
    padding-left: 16px;
  }
}
@container block-02 (max-width: 400px) {
  .block-02 .post-items {
    max-width: 230px;
  }
}
