.block__title {
  margin-bottom: 50px;
  padding-left: 105px;
  &:before {
    content: attr(data-title);
    position: absolute;
    top: calc(50% - 8px);
    left: 180px;
    display: block;
    width: 100%;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 92px;
    line-height: 1.5;
    color: var(--accent-03);
    transform: translateY(-50%);
    opacity: 0.2;
  }
  &:after {
    content: "";
    position: absolute;
    top: 50%;
    left: calc(100% - var(--container) - 310px);
    display: block;
    width: 100%;
    max-width: 380px;
    height: 2px;
    background-color: var(--accent-01);
    transform: translateY(-50%);
  }
  .h2 {
    max-width: calc(100% - 220px);
  }
  .btn {
    position: relative;
    background-color: var(--bg-color);
    z-index: 5;
  }
}

@media (max-width: 1680px) {
}
@media (max-width: 1366px) {
  .block__title:after {
    left: -100px;
    width: 160px;
  }
}
@media (max-width: 1199px) {
  .block__title {
    padding-left: 60px;
  }
  .block__title:before {
    left: 100px;
    font-size: 72px;
  }
  .block__title:after {
    width: 130px;
  }
}
@media (max-width: 991px) {
  .block__title .h2 {
    max-width: 100%;
  }
  .block__title .btn {
    display: none;
  }
}
@media (max-width: 768px) {
  .block__title {
    padding-left: 0;
  }
  .block__title:after {
    top: auto;
    bottom: -5px;
    left: -140px;
    width: 380px;
    transform: translateY(0);
  }
  .block__title:before {
    top: auto;
    bottom: -18px;
    left: 40px;
    font-size: 40px;
    transform: translateY(0);
  }
}
@media (max-width: 576px) {
  .block__title:before {
    font-size: 34px;
  }
}
@media (max-width: 460px) {
}
@media (max-width: 400px) {
}
