.btn {
  display: block;
  width: 100%;
  max-width: 186px;
  padding: 14px 16px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 15px;
  text-align: center;
  color: var(--white-color);
  background-color: transparent;
  border: 2px solid var(--white-color);
  transition: all 0.4s ease;
  &.btn-accent {
    color: var(--accent-01);
    border-color: var(--accent-01);
  }
  &.btn-gradient {
    position: relative;
    color: var(--white-color);
    background: var(--btn-gradient);
    border: 0;
    &:before {
      content: "";
      position: absolute;
      top: 10px;
      left: 10px;
      display: block;
      width: 100%;
      height: 100%;
      border: 2px solid var(--accent-01);
      transition: all 0.4s ease;
      z-index: -1;
    }
  }
}

@media (max-width: 1680px) {
}
@media (max-width: 1366px) {
}
@media (max-width: 1199px) {
}
@media (max-width: 991px) {
}
@media (max-width: 768px) {
}
@media (max-width: 576px) {
}
@media (max-width: 460px) {
}
@media (max-width: 400px) {
}
