.h1 {
  display: block;
  width: 100%;
  font-family: var(--font-family);
  font-weight: var(--h1-fw);
  font-size: var(--h1-fz);
  line-height: var(--h1-lh);
  font-variant: small-caps;
  color: var(--white-color);
  b {
    font-weight: 500;
  }
}
