.h2 {
  position: relative;
  display: block;
  width: 100%;
  font-family: var(--font-family);
  font-weight: var(--h2-fw);
  font-size: var(--h2-fz);
  line-height: var(--h2-lh);
  color: var(--h2-color);
}
