.reused.block-image {
  position: relative;
  display: block;
  width: 100%;
  max-width: 580px;
  padding-block: 70px;
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: calc(100% - var(--container) / 2 - 500px / 2);
    width: 684px;
    height: 100%;
    background-color: var(--accent-03-rgba-03);
    z-index: 2;
  }
  &:after {
    content: "";
    position: absolute;
    bottom: -72px;
    left: 80px;
    display: block;
    width: 20px;
    height: 592px;
    background-color: var(--accent-02);
    z-index: 4;
  }
  img {
    position: relative;
    display: block;
    width: 100%;
    height: inherit;
    object-fit: cover;
    z-index: 60;
  }
}

.reused.block-content {
  display: block;
  width: 100%;
  max-width: calc(100% - 660px);
}

@media (max-width: 1366px) {
  .reused.block-image {
    max-width: 520px;
  }

  .reused.block-content {
    max-width: calc(100% - 600px);
  }
}
@media (max-width: 1199px) {
  .reused.block-image {
    max-width: 460px;
  }

  .reused.block-content {
    max-width: calc(100% - 520px);
  }
}
@media (max-width: 991px) {
  .reused.block-image {
    max-width: 540px;
    margin: 0 auto 40px auto;
    padding-block: 42px;
  }

  .reused.block-content {
    position: relative;
    max-width: 540px;
    margin: 0 auto;
    z-index: 10;
  }
}
@media (max-width: 768px) {
}
@media (max-width: 576px) {
  .reused.block-image {
    padding-block: 24px;
  }
  .reused.block-image:after {
    height: 380px;
  }
}
@media (max-width: 460px) {
}
@media (max-width: 400px) {
}
