.text {
  display: block;
  width: 100%;
  font-family: var(--font-family);
  font-weight: var(--font-weight);
  font-size: var(--font-size);
  line-height: var(--font-height);
  color: var(--text-color);
}

@media (max-width: 1199px) {
  .text {
    font-size: 15px;
  }
}
