// Variables
:root {
  --accent-01: #43c8ff;
  --accent-02: #9aebfe;
  --accent-03: #bef2ff;
  --accent-03-rgba-03: rgba(190, 242, 255, 0.3);
  --dark-color: #0e1c3f;
  --white-color: #ffffff;
  --text-color: #336b9c;
  --bg-color: #f5fdff;

  --h2-color: #336b9c;
  --hover-menu: #9aebfe;
  --hover-btn-white: #43c8ff;
  --btn-gradient: linear-gradient(45deg, #4481eb 0%, #04befe 100%);
  --shadow-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0) 0, #f5fdff 100%);

  --container: 1360px;
  --indent: 10px;

  --mb-01: 40px;
  --mb-02: 32px;
  --mb-03: 24px;
  --mb-04: 16px;
  --mb-05: 8px;

  --font-family: "Montserrat", sans-serif;
  --font-weight: 400;
  --font-size: 16px;
  --font-height: 1.4;

  --h1-fw: 600;
  --h1-fz: 52px;
  --h1-lh: 1.4;

  --h2-fw: 600;
  --h2-fz: 28px;
  --h2-lh: 1.4;

  --st-fw: 600;
  --st-fz: 28px;
  --st-lh: 1.4;

  --brs-images: 8px;
  --brs-blocks: 14px;
  --brs-buttons: 24px;
}

body {
  margin-bottom: 0 !important;
  font-family: var(--font-family);
  font-weight: var(--font-weight);
  font-size: var(--font-size);
  line-height: var(--font-height);
  color: var(--black-color);
  background-color: var(--bg-color);
}

#app {
  position: relative;
  max-width: 1920px;
  margin-inline: auto;
  overflow: hidden;
}

.container {
  display: block;
  width: 100%;
  max-width: var(--container);
  margin-inline: auto;
  padding-inline: var(--indent);
}

@media (max-width: 991px) {
  :root {
    --mb-01: 32px;
    --mb-02: 24px;
    --mb-03: 16px;
    --mb-04: 12px;
    --mb-05: 8px;

    --h1-fz: 44px;
  }
}

@media (max-width: 768px) {
  :root {
    --h1-fz: 36px;
  }
}

@media (max-width: 576px) {
  :root {
    --mb-01: 28px;
    --mb-02: 22px;
    --mb-03: 14px;
    --mb-04: 10px;
    --mb-05: 6px;
  }
}

@media (max-width: 400px) {
  :root {
    --h1-fz: 32px;
  }
}
