.wpcf7 {
  position: relative;
  display: block;
  width: 100%;
  .wpcf7-form {
    .wpcf7-form-control-wrap {
      position: relative;
      display: block;
      width: 100%;
      input,
      textarea {
        display: block;
        width: 100%;
        padding: 8px 16px;
        font-family: var(--font-family);
        font-weight: 600;
        font-size: 16px;
        line-height: 1.3;
        color: var(--text-color);
        &::placeholder {
          color: var(--text-color);
        }
      }
      input {
        padding-right: 52px;
        border-bottom: 1px solid var(--text-color);
      }
      textarea {
        height: 110px;
        padding-top: 12px;
        border: 1px solid var(--text-color);
      }
      &:not(:last-child) {
        margin-bottom: 32px;
      }
    }
    [data-name="your-name"]:after,
    [data-name="your-phone"]:after,
    [data-name="your-address"]:after,
    [data-name="your-time"]:after {
      content: "";
      position: absolute;
      top: 0;
      right: 4px;
      display: block;
      width: 40px;
      height: 40px;
    }
    [data-name="your-name"]:after {
      background: url("../img/icons/icon-user.svg") center / contain no-repeat;
    }
    [data-name="your-phone"]:after {
      background: url("../img/icons/icon-phone.svg") center / contain no-repeat;
    }
    [data-name="your-address"]:after {
      background: url("../img/icons/icon-map.svg") center / contain no-repeat;
    }
    [data-name="your-time"]:after {
      background: url("../img/icons/icon-time.svg") center / contain no-repeat;
    }
    .form-policy {
      display: block;
      width: 100%;
      margin-bottom: 16px;
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 14px;
      line-height: 1.5;
      color: var(--text-color);
      a {
        text-decoration: underline;
        color: var(--text-color);
      }
    }
    .wpcf7-form-control .wpcf7-list-item {
      margin-left: 0;
      label {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: flex-start;
        input {
          appearance: none;
          display: none;
        }
        .wpcf7-list-item-label {
          position: relative;
          display: block;
          width: 100%;
          padding-left: 34px;
          font-family: var(--font-family);
          font-weight: 400;
          font-size: 14px;
          line-height: 1.5;
          color: var(--text-color);
          &:before {
            content: "";
            position: absolute;
            top: 5px;
            left: 0;
            width: 20px;
            height: 20px;
            border: 1px solid var(--text-color);
            transition: all 0.4s ease;
          }
        }
        input:checked ~ .wpcf7-list-item-label:before {
          border-width: 8px;
        }
      }
    }
    .text-hint {
      margin-top: 20px;
      font-size: 13px;
    }
  }
  .wpcf7-not-valid-tip {
    font-size: 14px;
  }
  form.invalid .wpcf7-response-output,
  form.unaccepted .wpcf7-response-output,
  form.payment-required .wpcf7-response-output,
  form.sent .wpcf7-response-output {
    font-size: 12px;
    color: var(--text-color);
    border-color: var(--accent-01);
  }
}

@media (max-width: 1680px) {
}
@media (max-width: 1366px) {
}
@media (max-width: 1199px) {
  .wpcf7 .wpcf7-form .text-hint {
    text-align: center;
  }
}
@media (max-width: 991px) {
}
@media (max-width: 768px) {
}
@media (max-width: 576px) {
}
@media (max-width: 460px) {
}
@media (max-width: 400px) {
  .wpcf7 .wpcf7-form .wpcf7-form-control-wrap input,
  .wpcf7 .wpcf7-form .wpcf7-form-control-wrap textarea {
    font-size: 15px;
  }
  .wpcf7 .wpcf7-form .form-policy {
    font-size: 13px;
  }
}
